input, select {
  &.text {
    margin:4px 26px 26px 26px;
    width: 100%;
    height: 40px;
    left: 26px;
    top: 190px;
    background: #F4F4F4;
    border-radius: 10px;
    border-color: #F4F4F4;
  }
}

label {
  // width: 44px;
  // height: 25px;
  // left: 26px;
  // top: 161px;
  white-space: nowrap;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin: 30px 344px 735px 26px;
}



textarea {
  margin:8px 26px 26px 26px;
  width: 100%;
  height: 203px;
  left: 26px;
  top: 296px;
  background: #F4F4F4;
  border-radius: 10px;
}

h2{
  margin: 26px 26px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
  height: 36px;
  left: 0%;
  right: 49.73%;
  top: calc(50% - 36px/2);
}

.btn {
  margin:464px 26px 26px 26px;
  width: 100%;
  height: 40px;
  left: 26px;
  top: 190px;
  background: #F8BD1C;
  color: #FFFFFF;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  border-color: #F4F4F4;
}

.top-titile {
  height: 36px;
  width:136px;
  left: 0%;
  right: 0%;
  top: calc(50% - 36px/2);
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  /* identical to box height */
  color: #000000;
}